<!-- Formulario -->
<h1 style="color:Blue;">Ingreso de Productos</h1>
<br>
<form action="/guardar" method="post">
    <div class="form-group">
        <label for="titulo"><b>Titulo</b></label>
        <input id="titulo" class="form-control" type="text" name="titulo">
    </div>
    <div class="form-group">
        <label for="precio"><b>Precio</b></label>
        <input id="precio" class="form-control" type="text" name="precio">
    </div>
    <div class="form-group">
        <label for="miniatura"><b>Miniatura</b></label>
        <input id="miniatura" class="form-control" type="text" name="miniatura">
    </div>
    <button class="btn btn-success mt-3 mb-5">Enviar</button>
</form>
<!-- Final Formulario -->

